#schedules
  - @schedules.each do |schedule|
    .content
      = render schedule
      %ul.controls
        %li= link_to 'Show', schedule
        %li= link_to 'Edit', edit_schedule_path(schedule)
        %li= link_to 'Destroy', schedule, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Schedule', new_schedule_path
