!!! 5
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset=>"utf-8"}
  %title
    Sportle Mini
  %meta{:name=>"description", :content=>"app to store and share swim schedules"}
  %meta{:name=>"author", :content=>"sch1zo"}

  = stylesheet_link_tag    "application"
  = csrf_meta_tags
%body
  .container
    %nav
      %ul
        %li.first= link_to "random", Schedule.random
        - if @schedule
          %li= link_to_unless_current "previous", @schedule.previous
          %li= link_to 'view all schedules', schedules_path
          %li.last= link_to_unless_current "next", @schedule.next
    %div{:role => 'main'}
      = yield
    %footer

  = javascript_include_tag "application"
